@import url('normalize.css');

body{
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    border: 1pt solid rgba(0,0,0,0.0);
    background-image:url('metafora.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 90pt;
}
#busca{
    float: right;
}
#busca button{
    background: darkorange;
    border: 1px solid orange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(0px, 2px);
    border-radius: 3px;
}
#busca button:hover{
    background-color: #fa0;
}
#busca button:active{
    background-color: orangered;
}
#busca input{
    border: 1px solid lightblue;
    border-radius: 3px;
}
#busca input:focus{
     box-shadow: 0px 0px 9px 0 lightblue;
}
h1{
    text-shadow: 5px 5px 5px 0 black;
    margin-left: 10px;
    color: white;
}

#menu {
    color: white;
    font-family: 'consolas';
    font-size: 20px;
    text-align: center;
    background-color: #333;
}
#principal{
    overflow: hidden;
    float: right;
    border-radius: 5px;
    width: 139px;
    transition: 0.5s;
    margin-right: 0.5pt;
    transform: translate(0px,10px);
}
#principal:hover{
    width: 700px;
    transition: 0.5s;
}
#principal ul {
    margin: 0;
    padding: 0;
    width: 700px;
    margin: auto;
    height: 30px;
    float: right;
}

#principal li {
    list-style-type: none;
    float: right;
    display: block;
    width: 20%;
    line-height: 30px;
}
#principal li a {
    text-decoration: none;
    color: white;
    background: darkgray;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    border-right: 1px solid white;
}

#principal li a:hover {
    background: #333;
    color: lightblue;
}

#principal li a:active {
    background:#222;
    color: blue;
}
#principal li a:visited{
    color: blue;
}